body {
    width: 100%;
    height: 100%;
    background: "black;";
    overflow: hidden;
    overscroll-behavior: none;
  }

body::after {
  animation: changeStyle 3s;
  animation-iteration-count: 1;
  }


body::after {
  content:"";
  position: absolute;
  width:100%;
  height: 100%;
  left: 0%;
  top: 0%;
  /*background-image: url('../pic/Noise.png'); */
  opacity: 0.3;  
  z-index: 1;
  }

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  opacity: 0.5 !important;
  z-index: 1 !important;
  animation: fadein 2s;
}

#middle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;  
  background-color: rgb(2, 26, 26);
  transition-duration: 3s;
}

img {
  display: none;
}